<?xml version="1.0"?>
<!--
   Name - Sanjay Kumar Das
   Email - sanjay.d@gmail.com
   Author - Sanjay
   -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codilar_Merchant" >
        <sequence>
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>


